<!-- views/pages/results.ejs -->

<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Postal Rate Calculator</title>
    <link rel ="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 50px;
      }
      
      .bold {
        font-weight: bolder;
        color: darkblue;
      }
      
    </style>
</head>

<body class ="container">
  
  
  <main>
  <div class = "row">
    <div class ="col-sm-8">
      <div class = "jumbotron">
        <h1>Shipping prices</h1>
          <p><span class="bold">Weight: </span><%=weight %></p>
          <p><span class="bold">Mail Type: </span><%=mail %></p>
          <p><span class="bold">Package cost: </span><%=price %></p>
          
      </div>
    </div>
    
    <!--<div class = "col-sm-4">
      <div class = "well">
        <h3>Look I'm a sidebar</h3>
      </div>
    </div>-->
    
  </div>
  </main>
  
  <footer>
  </footer>
  
</body>
</html>